div(id="modal" class="popupContainer" style="display:none")
	.header(class="popupHeader")
		.span(class="header_title") Login
		.span(class="modal_close")
			i(class="fa fa-times")
	.section(class="popupBody")
		.div(class="social_login")
			.div(class="")
				a(href="#" class="social_box fb")
					.span(class="icon")
						i(class="fa fa-facebook")
					.span(class="icon_title") Connect with Facebook
				a(href="#" class="social_box google")
					.span(class="icon")
						i(class="fa fa-google-plus")
					.span(class="icon_title") Connect with Google
