doctype html
html
	head
		title Smart Website
		link(rel='stylesheet', href='/public/stylesheets/style.css')
		link(rel='stylesheet', href='/public/stylesheets/bootstrap.min.css')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		script(src="/public/javascripts/jquery-3.2.1.min.js")
		script(src="/public/javascripts/bootstrap.min.js")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

	body
		div(class="navbar navbar-default" role="navigation" id="navbar")
			div.container-fluid
				div.navbar-header
					button(type="button", class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(class="navbar-brand" href="/") SMART
				div(class="navbar-collapse collapse" id="navbar-collapse")
					ul.nav.navbar-nav.navbar-left
						li
							a(href="/tutorial") Getting Started
						li
							a(href="/about") About
						li 
							a(href="/donate") Donate
					ul.nav.navbar-nav.navbar-right
						if !user
							li
								a(href="/signin") Sign In
								
						else
							li.dropdown
								a.dropdown-toggle(href='#', data-toggle='dropdown')
									span= user.profile.name || user.email || user.id
									i.caret
								ul(class="dropdown-menu" id="dropdown")
									li
										a(href='/user') My Account
									li.divider
									li
										a(href='/logout') Logout
		block content