extends header

block content
	div(class="jumbotron" id = "jumbotron")
		div.jumbotron-fluid
			div.container(class="introbox")
				h1.display-3 SMART 
				p.lead Small Molecule Accurate Recogniction Technology
				a(href="/tutorial" class="intro-button") GET STARTED
	div.container-fluid
		div.row
			div.col-lg-4
				div.subbox
					img.check(src="/public/images/black-check.png")
					h1 Something Important 1
					p Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
			div.col-lg-4
				div.subbox
					img.check(src="/public/images/black-check.png")
					h1 Something Important 2
					p Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
			div.col-lg-4
				div.subbox
					img.check(src="/public/images/black-check.png")
					h1 Something Important 3
					p Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.
	section.wrapper.style2
		.container
			header.major
				h1 Research Papers
				p With a much smaller subtitle hanging out just below it

	div.container-fluid
		div.paperbox
			h1 Paper1 
			p ilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmart
			a(href="#") link to this article
			h1 Paper2
			p ilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmart
			a(href="#") link to this article
			h1 Paper3 
			p ilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmart
			a(href="#") link to this article
			h1 Paper4 
			p ilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmart
			a(href="#") link to this article
			h1 Paper5 
			p ilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmartilovesmart
			a(href="#") link to this article

	div.container-fluid.footer
		p Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.



	