extends header

block content
	p.name This is the tutorial page!
	h1 Description about smart works
	p1 evukvbencvlqecvnqencvekvchebvkbecvekcvhecvhekcv ejcvece vecv ec eh
	h1 Start by creating your account!