#navbar {
    background-color: #036580;
    margin-top: 0;
    margin-bottom: 0
}

#navbar a {
    color: white;
}

.navbar li:hover {
    background-color: #0C2640;
}

.navbar-fixed-top {
    top: 0;
}

.name {
    font-size: 40px;
    color: #036580;
    margin-top: 40px;
}

#jumbotron {
    background-image: url("/public/images/banner3.jpg")
}
